<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sport Shop - Carrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/static/styles/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="header-top">
            <a href="frmPrincipalUsuario.html" class="back-button">
                <img src="../../imgs/arrow_back_.png" alt="Volver">
            </a>
            <a href="frmPrincipalUsuario.html" class="logo">
                <img src="../../imgs/logo.jpg" alt="Logo Sport Shop">
            </a>

            <div class="search">
                <input type="text" placeholder="¿Qué producto estás buscando?">
            </div>

            <div class="links-usuario">
                <a href="#">Historial de pedidos</a>
                <a href="#">Carrito</a>
                <a href="../frmLogin.html">Login</a>
            </div>
        </div>


    </header>

    <main class="carrito-container">
        <section class="carrito-productos">
            <h1>Mis productos</h1>
            <div class="lista-productos">

                <article class="producto-carrito">
                    <img src="../../imgs/balonFutbol.png" alt="Balon de futbol" class="producto-imagen">
                    <div class="producto-info">
                        <h3>Balon de futbol pro Match</h3>
                        <p class="producto-categoria">Futbol · Balones</p>
                        <p class="producto-precio">$699 MXN</p>

                        <div class="producto-cantidad">
                            <button type="button">-</button>
                            <span>1</span>
                            <button type="button">+</button>
                        </div>
                    </div>
                    <div class="producto-subtotal">
                        <button type="button" class="btn-eliminar"><span class="signo-menos">−</span></button>
                        <div class="subtotal-info">
                            <span>Subtotal</span>
                            <strong>$699 MXN</strong>
                        </div>
                    </div>
                </article>

                <article class="producto-carrito">
                    <img src="../../imgs/balonFutbol.png" alt="Balon de futbol" class="producto-imagen">
                    <div class="producto-info">
                        <h3>Guantes de Boxeo</h3>
                        <p class="producto-categoria">Box · Guantes</p>
                        <p class="producto-precio">$1000 MXN</p>

                        <div class="producto-cantidad">
                            <button type="button">-</button>
                            <span>1</span>
                            <button type="button">+</button>
                        </div>
                    </div>
                    <div class="producto-subtotal">
                        <button type="button" class="btn-eliminar"><span class="signo-menos">−</span></button>
                        <div class="subtotal-info">
                            <span>Subtotal</span>
                            <strong>$1000 MXN</strong>
                        </div>
                    </div>
                </article>

                <article class="producto-carrito">
                    <img src="../../imgs/balonFutbol.png" alt="Balon de futbol" class="producto-imagen">
                    <div class="producto-info">
                        <h3>Balon de futbol pro Match</h3>
                        <p class="producto-categoria">Futbol · Balones</p>
                        <p class="producto-precio">$699 MXN</p>

                        <div class="producto-cantidad">
                            <button type="button">-</button>
                            <span>1</span>
                            <button type="button">+</button>
                        </div>
                    </div>
                    <div class="producto-subtotal">
                        <button type="button" class="btn-eliminar"><span class="signo-menos">−</span></button>
                        <div class="subtotal-info">
                            <span>Subtotal</span>
                            <strong>$699 MXN</strong>
                        </div>
                    </div>

                </article>

            </div>
        </section>

        <aside class="resumen-pedido">

            <h2>Resumen del pedido:</h2>

            <div class="resumen-fila">
                <span>Subtotal (2 productos)</span>
                <span>$1,699 MXN</span>
            </div>

            <div class="resumen-fila">
                <span>Envio</span>
                <span>Gratis</span>
            </div>

            <hr>

            <div class="resumen-total">
                <span>Total</span>
                <strong> $1,699 MXN</strong>
            </div>

            <a href="frmCheckout.html" class="btn-pago">Proceder al pago</a>
            <p class="pago-seguro">Pago seguro y protegido</p>
        </aside>

    </main>

    <footer class="main-footer">
        <div class="footer-benefit">
            <span>Envíos gratis</span>
            <small>En compras mayores $500</small>
        </div>
        <div class="footer-benefit">
            <span>Compras seguras</span>
            <small>En compras mayores $500</small>
        </div>
        <div class="footer-benefit">
            <span>Compras seguras</span>
            <small>En compras mayores $500</small>
        </div>
    </footer>

</body>

</html>