<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sport Shop - Admin</title>
        <link rel="stylesheet" href="../../static/styles/styles.css">
    </head>

    <body>
    <header class="main-header">
        <div class="header-top">
            <a href="frmPrincipalAdministrador.html" class="logo">
                <img src="../../imgs/logo.jpg" alt="Sport Shop Logo">
            </a>

            <div class="search">
                <input type="text" placeholder="¿Qué producto estás buscando?">
            </div>

            <div class="links-usuario">
                <div class="menu-dropdown">
                    <a href="#" class="btn-dropdown">Panel Administrativo </a>
                    <ul class="dropdown-content">
                        <li><a href="frmCrearProducto.html">Crear Producto</a></li>
                        <li><a href="frmEditarProducto.html">Editar Producto</a></li>
                        <li><a href="frmActivarDesactivar.html">Activar / Desactivar Producto</a></li>
                        <li><a href="frmInventario.html">Ver Inventario</a></li>
                        <li><a href="frmAjustarInventario.html">Ajustar Inventario</a></li>
                        <li><a href="frmListadoOrdenes.html">Ver Listado de Órdenes</a></li>
                        <li><a href="#">Cambiar Estado de una Orden</a></li>
                        <li><a href="#">Ver Dashboard de Resumen</a></li>
                        <li><a href="frmGestionarCategorias.html">Gestionar Categorías</a></li>
                    </ul>
                </div>
                <a href="#">Logout</a>
            </div>
        </div>

        <nav class="nav-categorias">
            <ul>
                <li><a href="#">Fútbol</a></li>
                <li><a href="#">Gym</a></li>
                <li><a href="#">Basquetbol</a></li>
                <li><a href="#">Boxeo</a></li>
                <li><a href="#">Ropa deportiva</a></li>
                <li><a href="#">Calzado</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="section-title">
            <h2>Lo mas vendido</h2>
            <p>Lo mejor en precios y calidad</p>
        </div>

        <section class="product-grid">

            <article class="product-card">
                <div class="card-image">
                    <img src="../../imgs/balonFutbol.png" alt="Balón de fútbol Pro Match">
                </div>
                <div class="card-body">
                    <h3>Balón de fútbol Pro Match</h3>
                    <p class="price">$699 MXN</p>
                    <button class="btn-agregar"> AGREGAR AL CARRITO</button>
                </div>
            </article>

            <article class="product-card">
                <div class="card-image">
                    <img src="../../imgs/balonFutbol.png" alt="Balón de fútbol Pro Match">
                </div>
                <div class="card-body">
                    <h3>Balón de fútbol Pro Match</h3>
                    <p class="price">$699 MXN</p>
                    <button class="btn-agregar"> AGREGAR AL CARRITO</button>
                </div>
            </article>

            <article class="product-card">
                <div class="card-image">
                    <img src="../../imgs/balonFutbol.png" alt="Balón de fútbol Pro Match">
                </div>
                <div class="card-body">
                    <h3>Balón de fútbol Pro Match</h3>
                    <p class="price">$699 MXN</p>
                    <button class="btn-agregar"> AGREGAR AL CARRITO</button>
                </div>
            </article>



        </section>
    </main>

    <footer class="main-footer">
        <div class="footer-benefit">
            <span>Envíos gratis</span>
            <small>En compras mayores $500</small>
        </div>
        <div class="footer-benefit">
            <span>Compras seguras</span>
            <small>En compras mayores $500</small>
        </div>
        <div class="footer-benefit">
            <span>Compras seguras</span>
            <small>En compras mayores $500</small>
        </div>
    </footer>

    </body>

</html>>