<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Shop - Registro</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>


    <main class="auth-container">
        <section class="auth-card">

            <div class="auth-logo">
                <img src="../imgs/logo.jpg" alt="Sport Shop Logo">
            </div>

            <h2 class="auth-title">Registro</h2>

            <form class="auth-form" action="/crear-cuenta" method="post">

                <div class="form-group">
                    <label for="nombreCompleto">Nombre Completo:</label>
                    <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Value" required
                        minlength="3">
                </div>

                <div class="form-group">
                    <label for="correo">Correo Eletronico:</label>
                    <input type="email" id="correo" name="correo" placeholder="Value" required>
                </div>

                <div class="form-group">
                    <label for="confirmarCorreo">Confirmar Correo:</label>
                    <input type="email" id="confirmarCorreo" name="confirmarCorreo" placeholder="Value" required>
                </div>

                <div class="form-group">
                    <label for="contrasenia">Contraseña:</label>
                    <input type="password" id="contrasenia" name="contrasenia" placeholder="Value" required>
                </div>

                <div class="form-group">
                    <label for="confirmarContrasenia">Confirmar Contraseña:</label>
                    <input type="password" id="confirmarContrasenia" name="confirmarContrasenia" placeholder="Value"
                        required>
                </div>

                <button type="submit" class="btn-primary">Registrarse</button>

            </form>
        </section>
    </main>
</body>

</html>